<div ng-controller="hackerShowStoryData">
  <div class="data_container">
    <p style="font-size: 20px; color: #998e9a">
      Please read the rules. You can also browse the newest Show HNs.
    </p>
    <div ng-repeat="showStories in newsDetails">
      <div class="story_container">
        <div>
          <p>{{showStories.serialNumber}}. {{showStories.title}}</p>
          <p style="margin-left: 25px; font-size: 17px; color: #998e9a">
            {{showStories.score}} points by {{showStories.by}}
            {{showStories.timeStamp}} |
            <a
              href="#!/showStoryComments/{{showStories.id}}"
              style="color: #998e9a"
              >{{showStories.descendants}} comments</a
            >
          </p>
        </div>
      </div>
    </div>
    <button
      ng-click="moreItem()"
      class="more_button"
      ng-if="newsDetails.length"
    >
      more...
    </button>
  </div>
</div>
