* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: white;
  padding: 30px;
}

.main_container {
  margin: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(219, 94, 22);
  position: fixed;
  top: 0;
  width: 88%;
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  margin: 14px 5px;
  text-decoration: none;
  border-right: 2px solid black;
  padding-right: 5px;
}

.image {
  height: 30px;
  width: 30px;
  margin: 14px 5px 10px 5px;
  border: 1px solid white;
}

.Heading {
  color: black;

  font-weight: bold;
}

.data_container {
  background-color: rgb(246, 238, 238);
  padding: 10px;
  margin-left: 30px;
  width: 90%;
}

.story_container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
